In [1]:
import pandas as pd

In [27]:
def reading_sim(ano):
    return pd.read_csv(f'dados_SIM/dados_{ano}.csv', sep=';', encoding='latin1', low_memory=False)

In [28]:
sim = [reading_sim(a) for a in range(1979, 2022)]

In [41]:
for i, df in enumerate(sim):
    print(f'Em {i + 1979} no Brasil, o número de pessoas falecidas foi de {df.shape[0]:9,} pessoas')

Em 1979 no Brasil, o número de pessoas falecidas foi de   711,742 pessoas
Em 1980 no Brasil, o número de pessoas falecidas foi de   750,727 pessoas
Em 1981 no Brasil, o número de pessoas falecidas foi de   750,276 pessoas
Em 1982 no Brasil, o número de pessoas falecidas foi de   741,614 pessoas
Em 1983 no Brasil, o número de pessoas falecidas foi de   771,203 pessoas
Em 1984 no Brasil, o número de pessoas falecidas foi de   809,825 pessoas
Em 1985 no Brasil, o número de pessoas falecidas foi de   788,231 pessoas
Em 1986 no Brasil, o número de pessoas falecidas foi de   811,556 pessoas
Em 1987 no Brasil, o número de pessoas falecidas foi de   799,621 pessoas
Em 1988 no Brasil, o número de pessoas falecidas foi de   834,338 pessoas
Em 1989 no Brasil, o número de pessoas falecidas foi de   815,774 pessoas
Em 1990 no Brasil, o número de pessoas falecidas foi de   817,284 pessoas
Em 1991 no Brasil, o número de pessoas falecidas foi de   803,836 pessoas
Em 1992 no Brasil, o número de pessoas falecidas foi de   827,652 pessoas
Em 1993 no Brasil, o número de pessoas falecidas foi de   878,106 pessoas
Em 1994 no Brasil, o número de pessoas falecidas foi de   887,594 pessoas
Em 1995 no Brasil, o número de pessoas falecidas foi de   893,877 pessoas
Em 1996 no Brasil, o número de pessoas falecidas foi de   908,883 pessoas
Em 1997 no Brasil, o número de pessoas falecidas foi de   903,516 pessoas
Em 1998 no Brasil, o número de pessoas falecidas foi de   931,895 pessoas
Em 1999 no Brasil, o número de pessoas falecidas foi de   938,658 pessoas
Em 2000 no Brasil, o número de pessoas falecidas foi de   946,686 pessoas
Em 2001 no Brasil, o número de pessoas falecidas foi de   961,492 pessoas
Em 2002 no Brasil, o número de pessoas falecidas foi de   982,807 pessoas
Em 2003 no Brasil, o número de pessoas falecidas foi de 1,002,340 pessoas
Em 2004 no Brasil, o número de pessoas falecidas foi de 1,024,073 pessoas
Em 2005 no Brasil, o número de pessoas falecidas foi de 1,006,827 pessoas
Em 2006 no Brasil, o número de pessoas falecidas foi de 1,031,691 pessoas
Em 2007 no Brasil, o número de pessoas falecidas foi de 1,047,824 pessoas
Em 2008 no Brasil, o número de pessoas falecidas foi de 1,077,007 pessoas
Em 2009 no Brasil, o número de pessoas falecidas foi de 1,103,088 pessoas
Em 2010 no Brasil, o número de pessoas falecidas foi de 1,136,947 pessoas
Em 2011 no Brasil, o número de pessoas falecidas foi de 1,170,498 pessoas
Em 2012 no Brasil, o número de pessoas falecidas foi de 1,181,166 pessoas
Em 2013 no Brasil, o número de pessoas falecidas foi de 1,210,474 pessoas
Em 2014 no Brasil, o número de pessoas falecidas foi de 1,227,039 pessoas
Em 2015 no Brasil, o número de pessoas falecidas foi de 1,264,175 pessoas
Em 2016 no Brasil, o número de pessoas falecidas foi de 1,309,774 pessoas
Em 2017 no Brasil, o número de pessoas falecidas foi de 1,312,663 pessoas
Em 2018 no Brasil, o número de pessoas falecidas foi de 1,316,719 pessoas
Em 2019 no Brasil, o número de pessoas falecidas foi de 1,349,801 pessoas
Em 2020 no Brasil, o número de pessoas falecidas foi de 1,556,824 pessoas
Em 2021 no Brasil, o número de pessoas falecidas foi de 1,832,649 pessoas

In [48]:
for i, df in enumerate(sim):
    if 'DATAOBITO' in df.columns:
        print(i+1979, df.DATAOBITO.dtypes)
    else:
        print(i+1979, df.DTOBITO.dtypes)

1979 int64
1980 int64
1981 int64
1982 int64
1983 int64
1984 int64
1985 int64
1986 int64
1987 int64
1988 int64
1989 int64
1990 int64
1991 object
1992 object
1993 object
1994 object
1995 int64
1996 int64
1997 int64
1998 int64
1999 int64
2000 int64
2001 int64
2002 int64
2003 int64
2004 int64
2005 int64
2006 int64
2007 int64
2008 int64
2009 int64
2010 int64
2011 int64
2012 int64
2013 int64
2014 int64
2015 int64
2016 int64
2017 int64
2018 int64
2019 int64
2020 int64
2021 int64

In [52]:
for i, df in enumerate(sim):
    if 'DATAOBITO' in df.columns:
        print(df.DATAOBITO.head())
    else:
        print(df.DTOBITO.head())

0    790600
1    790100
2    790100
3    790100
4    790100
Name: DATAOBITO, dtype: int64
0    801200
1    800100
2    800100
3    800100
4    800100
Name: DATAOBITO, dtype: int64
0    810400
1    810600
2    810600
3    810100
4    810100
Name: DATAOBITO, dtype: int64
0    820800
1    820700
2    820100
3    820100
4    820100
Name: DATAOBITO, dtype: int64
0    830400
1    830100
2    830100
3    830200
4    830200
Name: DATAOBITO, dtype: int64
0    840400
1    840100
2    840100
3    840100
4    840100
Name: DATAOBITO, dtype: int64
0    851200
1    850700
2    850700
3    850100
4    850100
Name: DATAOBITO, dtype: int64
0    860600
1    860700
2    860200
3    860600
4    860500
Name: DATAOBITO, dtype: int64
0    871100
1    871100
2    870100
3    870100
4    870100
Name: DATAOBITO, dtype: int64
0    880500
1    880500
2    880500
3    880500
4    880500
Name: DATAOBITO, dtype: int64
0    890400
1    891000
2    890800
3    890900
4    891100
Name: DATAOBITO, dtype: int64
0    900100
1    900200
2    900700
3    900800
4    900900
Name: DATAOBITO, dtype: int64
0    9108
1    9109
2    9101
3    9101
4    9101
Name: DATAOBITO, dtype: object
0    920429
1    920429
2    920819
3    920101
4    920101
Name: DATAOBITO, dtype: object
0    930702
1    931024
2    931011
3    930101
4    930101
Name: DATAOBITO, dtype: object
0    940000
1    940101
2    940102
3    940102
4    940102
Name: DATAOBITO, dtype: object
0        95
1    950101
2    950101
3    950101
4    950101
Name: DATAOBITO, dtype: int64
0    11021996
1     4061996
2    20021996
3     1011996
4     1011996
Name: DTOBITO, dtype: int64
0    10041997
1    25081997
2    23121997
3    31121997
4     1011997
Name: DTOBITO, dtype: int64
0     9011998
1    25111998
2     3031998
3    28071998
4    13011998
Name: DTOBITO, dtype: int64
0    19111999
1    26091999
2     6111999
3    11111999
4    19081999
Name: DTOBITO, dtype: int64
0    23032000
1    25032000
2    25022000
3    27022000
4    27022000
Name: DTOBITO, dtype: int64
0    20012001
1    21012001
2    23012001
3     5012001
4    25012001
Name: DTOBITO, dtype: int64
0     4012002
1     5012002
2    22012002
3    18012002
4     1012002
Name: DTOBITO, dtype: int64
0    11012003
1    21012003
2    16012003
3     3012003
4    23012003
Name: DTOBITO, dtype: int64
0    20052004
1    22092004
2     5042004
3    22042004
4    11112004
Name: DTOBITO, dtype: int64
0    31012005
1     6012005
2    19032005
3    24032005
4     3032005
Name: DTOBITO, dtype: int64
0    10022006
1    19042006
2    28102006
3    31102006
4    15112006
Name: DTOBITO, dtype: int64
0     4122007
1    24122007
2    26122007
3     9072007
4    27122007
Name: DTOBITO, dtype: int64
0    1012008
1    1012008
2    1012008
3    1012008
4    1012008
Name: DTOBITO, dtype: int64
0    28102009
1     6062009
2     9022009
3     4022009
4     8032009
Name: DTOBITO, dtype: int64
0     6082010
1     6082010
2     2102010
3     7042010
4    13052010
Name: DTOBITO, dtype: int64
0    10052011
1    23062011
2    28082011
3    17112011
4    29072011
Name: DTOBITO, dtype: int64
0    25052012
1     2012012
2     6012012
3     5052012
4    18052012
Name: DTOBITO, dtype: int64
0    11032013
1    13022013
2    23062013
3    24092013
4    27092013
Name: DTOBITO, dtype: int64
0    1012014
1    1012014
2    1012014
3    1012014
4    1012014
Name: DTOBITO, dtype: int64
0    21112015
1     2022015
2     8022015
3     9022015
4    25012015
Name: DTOBITO, dtype: int64
0    1012016
1    1012016
2    1012016
3    1012016
4    1012016
Name: DTOBITO, dtype: int64
0     5092017
1    11022017
2    11022017
3    11022017
4    11022017
Name: DTOBITO, dtype: int64
0    25042018
1    24052018
2    14022018
3    31072018
4    21092018
Name: DTOBITO, dtype: int64
0    21012019
1    28012019
2    27012019
3    12012019
4    10012019
Name: DTOBITO, dtype: int64
0    18052020
1    20052020
2    21052020
3    21052020
4    22052020
Name: DTOBITO, dtype: int64
0    23032021
1    23032021
2    23032021
3    17042021
4     6012021
Name: DTOBITO, dtype: int64

In [55]:
for i, df in enumerate(sim):
    print(i+1979)
    print(df.NATURAL.head())

1979
0    832
1    812
2    812
3    812
4    813
Name: NATURAL, dtype: int64
1980
0    812
1    812
2    812
3    812
4    826
Name: NATURAL, dtype: int64
1981
0    812
1    815
2    823
3    812
4    823
Name: NATURAL, dtype: int64
1982
0    812
1    812
2    812
3    812
4    812
Name: NATURAL, dtype: int64
1983
0    812
1    812
2    812
3    812
4    812
Name: NATURAL, dtype: int64
1984
0    823
1    823
2    812
3    831
4    823
Name: NATURAL, dtype: int64
1985
0      0
1    812
2    831
3    812
4    812
Name: NATURAL, dtype: int64
1986
0    812
1    833
2    823
3    813
4    812
Name: NATURAL, dtype: int64
1987
0      0
1    812
2    812
3    812
4    812
Name: NATURAL, dtype: int64
1988
0    823
1    812
2    812
3    812
4    812
Name: NATURAL, dtype: int64
1989
0    812
1    812
2    812
3    812
4    812
Name: NATURAL, dtype: int64
1990
0     12
1     12
2     12
3    831
4    812
Name: NATURAL, dtype: int64
1991
0    813
1    813
2    835
3    831
4    841
Name: NATURAL, dtype: object
1992
0    812
1    812
2    852
3    812
4    823
Name: NATURAL, dtype: object
1993
0    812
1    812
2    812
3    812
4    812
Name: NATURAL, dtype: object
1994
0    NaN
1    812
2    812
3    812
4    812
Name: NATURAL, dtype: object
1995
0    812
1    812
2    812
3    812
4    823
Name: NATURAL, dtype: object
1996
0    841
1    811
2    813
3    813
4    812
Name: NATURAL, dtype: object
1997
0    812
1    812
2    823
3    NaN
4    823
Name: NATURAL, dtype: object
1998
0    812
1    NaN
2    NaN
3    812
4    812
Name: NATURAL, dtype: object
1999
0    812.0
1    812.0
2    812.0
3    812.0
4      NaN
Name: NATURAL, dtype: float64
2000
0    812.0
1    812.0
2    812.0
3    812.0
4    812.0
Name: NATURAL, dtype: float64
2001
0    812
1    812
2    812
3    812
4    812
Name: NATURAL, dtype: object
2002
0    812.0
1    825.0
2    812.0
3    812.0
4    812.0
Name: NATURAL, dtype: float64
2003
0    812.0
1    812.0
2    812.0
3    812.0
4    812.0
Name: NATURAL, dtype: float64
2004
0    812.0
1    812.0
2    812.0
3    812.0
4    812.0
Name: NATURAL, dtype: float64
2005
0    835.0
1    812.0
2    823.0
3    812.0
4    812.0
Name: NATURAL, dtype: float64
2006
0    812.0
1    812.0
2    812.0
3    812.0
4    812.0
Name: NATURAL, dtype: float64
2007
0      NaN
1    812.0
2    812.0
3    812.0
4    812.0
Name: NATURAL, dtype: float64
2008
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: NATURAL, dtype: float64
2009
0      NaN
1      NaN
2    851.0
3    823.0
4      NaN
Name: NATURAL, dtype: float64
2010
0    831.0
1    812.0
2    812.0
3      NaN
4    812.0
Name: NATURAL, dtype: float64
2011
0      NaN
1      NaN
2      NaN
3      NaN
4    812.0
Name: NATURAL, dtype: float64
2012
0      NaN
1    812.0
2      NaN
3      NaN
4    800.0
Name: NATURAL, dtype: float64
2013
0    800.0
1      NaN
2      NaN
3      NaN
4      NaN
Name: NATURAL, dtype: float64
2014
0    812.0
1    812.0
2      NaN
3      NaN
4    827.0
Name: NATURAL, dtype: float64
2015
0      NaN
1      NaN
2    812.0
3      NaN
4      NaN
Name: NATURAL, dtype: float64
2016
0    812.0
1    812.0
2    812.0
3      NaN
4    812.0
Name: NATURAL, dtype: float64
2017
0    812.0
1    812.0
2    812.0
3    812.0
4    812.0
Name: NATURAL, dtype: float64
2018
0     16.0
1    812.0
2    812.0
3    812.0
4    812.0
Name: NATURAL, dtype: float64
2019
0    829.0
1    829.0
2    829.0
3    829.0
4    829.0
Name: NATURAL, dtype: float64
2020
0    812.0
1    812.0
2    812.0
3    812.0
4    812.0
Name: NATURAL, dtype: float64
2021
0    811.0
1    812.0
2    812.0
3    812.0
4    812.0
Name: NATURAL, dtype: float64

In [56]:
for i, df in enumerate(sim):
    if 'DATANASC' in df.columns:
        print(i+1979, df.DATANASC.dtypes)
    else:
        print(i+1979, df.DTNASC.dtypes)

1979 float64
1980 float64
1981 float64
1982 float64
1983 float64
1984 float64
1985 float64
1986 float64
1987 float64
1988 float64
1989 float64
1990 float64
1991 float64
1992 float64
1993 float64
1994 object
1995 object
1996 float64
1997 float64
1998 float64
1999 object
2000 object
2001 object
2002 float64
2003 float64
2004 object
2005 object
2006 float64
2007 float64
2008 float64
2009 float64
2010 float64
2011 float64
2012 float64
2013 float64
2014 float64
2015 float64
2016 float64
2017 float64
2018 float64
2019 float64
2020 float64
2021 float64

In [57]:
for i, df in enumerate(sim):
    if 'DATANASC' in df.columns:
        print(df.DATANASC.head())
    else:
        print(df.DTNASC.head())

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: DATANASC, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: DATANASC, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: DATANASC, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: DATANASC, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: DATANASC, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: DATANASC, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: DATANASC, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: DATANASC, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: DATANASC, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: DATANASC, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: DATANASC, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: DATANASC, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: DATANASC, dtype: float64
0    19631222.0
1    19580624.0
2    19470605.0
3    19700306.0
4    19521217.0
Name: DATANASC, dtype: float64
0    19690624.0
1    19930502.0
2           0.0
3    19911223.0
4    19920925.0
Name: DATANASC, dtype: float64
0         NaN
1    19931121
2    19930815
3    19930628
4    19851105
Name: DATANASC, dtype: object
0    19350805
1    19940502
2    19681221
3    19671222
4    19290314
Name: DATANASC, dtype: object
0    15101970.0
1    21011966.0
2    12071952.0
3    27021972.0
4    30101974.0
Name: DTNASC, dtype: float64
0    25061977.0
1    21051964.0
2    22081939.0
3    21121956.0
4     1061915.0
Name: DTNASC, dtype: float64
0     4101957.0
1    25011936.0
2    30071914.0
3    23041944.0
4    14031918.0
Name: DTNASC, dtype: float64
0    15101938
1    29051939
2    08031951
3    01111914
4    02081999
Name: DTNASC, dtype: object
0    11091976
1    14101999
2    18022000
3    09011909
4    17031904
Name: DTNASC, dtype: object
0    20012001
1    02071984
2    11041999
3    14011929
4    27071910
Name: DTNASC, dtype: object
0    27011909.0
1    29061926.0
2    22012002.0
3    16111930.0
4     1101972.0
Name: DTNASC, dtype: float64
0    23121946.0
1    17011958.0
2    29051944.0
3     6031920.0
4    26031937.0
Name: DTNASC, dtype: float64
0    19101966
1    08081913
2    28022004
3    22032004
4    26102004
Name: DTNASC, dtype: object
0    07121922
1    24101964
2    25091910
3    01061957
4    27091939
Name: DTNASC, dtype: object
0    24051910.0
1    10011934.0
2    28102006.0
3     2021930.0
4    11042006.0
Name: DTNASC, dtype: float64
0    16081932.0
1     7072007.0
2     6051965.0
3    26082005.0
4     6112006.0
Name: DTNASC, dtype: float64
0    13111959.0
1     1012008.0
2     3101950.0
3    26031965.0
4    24121924.0
Name: DTNASC, dtype: float64
0    14091966.0
1     6062009.0
2    11071983.0
3    28071941.0
4    12071967.0
Name: DTNASC, dtype: float64
0     9041945.0
1    20011912.0
2    17032010.0
3     7042010.0
4     4081971.0
Name: DTNASC, dtype: float64
0     7091926.0
1    28061982.0
2    16121952.0
3    20061941.0
4    13121993.0
Name: DTNASC, dtype: float64
0    26031952.0
1    11091941.0
2    14091924.0
3     7051938.0
4    27011924.0
Name: DTNASC, dtype: float64
0    23071950.0
1    30061937.0
2     1112012.0
3    18051977.0
4     2011968.0
Name: DTNASC, dtype: float64
0     6081976.0
1    30101986.0
2    28122013.0
3    15122013.0
4    10111939.0
Name: DTNASC, dtype: float64
0     5071949.0
1    15021932.0
2    30031945.0
3    22081963.0
4           NaN
Name: DTNASC, dtype: float64
0     4111988.0
1    24112002.0
2     4101985.0
3    23111959.0
4    15122014.0
Name: DTNASC, dtype: float64
0     3031997.0
1     9022017.0
2    13071933.0
3     6022002.0
4     2061966.0
Name: DTNASC, dtype: float64
0     3111965.0
1    20052018.0
2     2061925.0
3    25081928.0
4     4071941.0
Name: DTNASC, dtype: float64
0    18021961.0
1     3071938.0
2    15111945.0
3     4111971.0
4    12101946.0
Name: DTNASC, dtype: float64
0     7061932.0
1    16031952.0
2    17021961.0
3    10081942.0
4    13041936.0
Name: DTNASC, dtype: float64
0    18061962.0
1    19021971.0
2     1101956.0
3     6011999.0
4    20082020.0
Name: DTNASC, dtype: float64

In [58]:
for i, df in enumerate(sim):
    print(i+1979)
    print(df.IDADE.head())

1979
0    463
1    467
2    401
3    404
4    477
Name: IDADE, dtype: int64
1980
0    425
1    470
2    443
3    406
4    495
Name: IDADE, dtype: int64
1981
0    417
1    472
2    485
3    203
4    492
Name: IDADE, dtype: int64
1982
0    442
1    304
2    207
3    435
4    303
Name: IDADE, dtype: int64
1983
0    454
1    401
2    306
3    401
4    201
Name: IDADE, dtype: int64
1984
0    443
1    456
2    441
3    450
4    483
Name: IDADE, dtype: int64
1985
0    435
1    405
2    476
3    306
4    469
Name: IDADE, dtype: int64
1986
0    442
1    439
2    460
3    456
4    435
Name: IDADE, dtype: int64
1987
0    443
1    418
2    308
3    474
4    403
Name: IDADE, dtype: int64
1988
0    481
1    408
2    210
3    219
4    478
Name: IDADE, dtype: int64
1989
0    430
1    402
2    477
3    445
4    408
Name: IDADE, dtype: int64
1990
0    456
1    447
2    432
3    301
4    307
Name: IDADE, dtype: int64
1991
0    465.0
1    427.0
2    459.0
3    462.0
4    443.0
Name: IDADE, dtype: float64
1992
0    428.0
1    433.0
2    445.0
3    421.0
4    439.0
Name: IDADE, dtype: float64
1993
0    424.0
1    305.0
2      0.0
3    401.0
4    303.0
Name: IDADE, dtype: float64
1994
0    441.0
1    301.0
2    304.0
3    306.0
4    408.0
Name: IDADE, dtype: float64
1995
0    460
1    307
2    426
3    427
4    465
Name: IDADE, dtype: int64
1996
0    425.0
1    430.0
2    443.0
3    423.0
4    421.0
Name: IDADE, dtype: float64
1997
0    419.0
1    433.0
2    458.0
3    441.0
4    481.0
Name: IDADE, dtype: float64
1998
0    440.0
1    462.0
2    483.0
3    454.0
4    479.0
Name: IDADE, dtype: float64
1999
0    461.0
1    460.0
2    448.0
3    485.0
4    217.0
Name: IDADE, dtype: float64
2000
0    423.0
1    305.0
2    207.0
3    491.0
4    495.0
Name: IDADE, dtype: float64
2001
0    102
1    416
2    401
3    471
4    490
Name: IDADE, dtype: int64
2002
0    492
1    475
2    104
3    471
4    429
Name: IDADE, dtype: int64
2003
0    456
1    445
2    458
3    482
4    465
Name: IDADE, dtype: int64
2004
0    437
1    491
2    301
3    301
4    216
Name: IDADE, dtype: int64
2005
0    482
1    440
2    494
3    447
4    465
Name: IDADE, dtype: int64
2006
0    495.0
1    472.0
2    101.0
3    476.0
4    307.0
Name: IDADE, dtype: float64
2007
0    475
1    305
2    442
3    401
4    401
Name: IDADE, dtype: int64
2008
0    448
1     10
2    457
3    442
4    483
Name: IDADE, dtype: int64
2009
0    443
1    201
2    425
3    467
4    441
Name: IDADE, dtype: int64
2010
0    465.0
1    498.0
2    306.0
3      5.0
4    438.0
Name: IDADE, dtype: float64
2011
0    484
1    428
2    458
3    470
4    417
Name: IDADE, dtype: int64
2012
0    460
1    470
2    487
3    473
4    488
Name: IDADE, dtype: int64
2013
0    462
1    475
2    307
3    436
4    445
Name: IDADE, dtype: int64
2014
0    437
1    427
2    204
3    217
4    474
Name: IDADE, dtype: int64
2015
0    466
1    482
2    469
3    451
4    999
Name: IDADE, dtype: int64
2016
0    427
1    413
2    430
3    456
4    401
Name: IDADE, dtype: int64
2017
0    420
1    202
2    483
3    415
4    450
Name: IDADE, dtype: int64
2018
0    452
1    204
2    492
3    489
4    477
Name: IDADE, dtype: int64
2019
0    457
1    480
2    473
3    447
4    472
Name: IDADE, dtype: int64
2020
0    487
1    468
2    459
3    477
4    484
Name: IDADE, dtype: int64
2021
0    458
1    450
2    464
3    422
4    304
Name: IDADE, dtype: int64

In [60]:
for i, df in enumerate(sim):
    print(i+1979)
    print(df.SEXO.value_counts())

1979
1    409211
2    301491
0      1040
Name: SEXO, dtype: int64
1980
1    431161
2    318483
0      1083
Name: SEXO, dtype: int64
1981
1    433108
2    316247
0       921
Name: SEXO, dtype: int64
1982
1    431558
2    309408
0       648
Name: SEXO, dtype: int64
1983
1    450511
2    320225
0       467
Name: SEXO, dtype: int64
1984
1    474251
2    334939
0       635
Name: SEXO, dtype: int64
1985
1    462075
2    325266
0       890
Name: SEXO, dtype: int64
1986
1    477101
2    333359
0      1096
Name: SEXO, dtype: int64
1987
1    468865
2    329745
0      1011
Name: SEXO, dtype: int64
1988
1    489961
2    343408
0       969
Name: SEXO, dtype: int64
1989
1    483819
2    330907
0      1048
Name: SEXO, dtype: int64
1990
1    481696
2    334738
0       850
Name: SEXO, dtype: int64
1991
1.0    474905
2.0    327387
0.0      1486
Name: SEXO, dtype: int64
1992
1.0    488277
2.0    337787
0.0      1201
Name: SEXO, dtype: int64
1993
1.0    516224
2.0    359921
0.0      1504
7.0         1
3.0         1
Name: SEXO, dtype: int64
1994
1.0    519967
2.0    364912
0.0      2553
Name: SEXO, dtype: int64
1995
1    521430
2    368828
9      3619
Name: SEXO, dtype: int64
1996
1    530069
2    376502
0      2312
Name: SEXO, dtype: int64
1997
1.0    528552
2.0    373714
0.0       390
Name: SEXO, dtype: int64
1998
1.0    543383
2.0    386954
0.0       865
Name: SEXO, dtype: int64
1999
1.0    547611
2.0    389910
0.0      1135
Name: SEXO, dtype: int64
2000
1    552127
2    393606
0       953
Name: SEXO, dtype: int64
2001
1    561166
2    399576
0       750
Name: SEXO, dtype: int64
2002
1    571402
2    410737
0       668
Name: SEXO, dtype: int64
2003
1    582810
2    418714
0       816
Name: SEXO, dtype: int64
2004
1    593750
2    429625
0       698
Name: SEXO, dtype: int64
2005
1    582311
2    424064
0       452
Name: SEXO, dtype: int64
2006
1    593786
2    437429
0       476
Name: SEXO, dtype: int64
2007
1    602592
2    444714
0       518
Name: SEXO, dtype: int64
2008
1    619278
2    457269
0       460
Name: SEXO, dtype: int64
2009
1    631225
2    471389
0       474
Name: SEXO, dtype: int64
2010
1    649378
2    487137
9       432
Name: SEXO, dtype: int64
2011
1    665551
2    504415
9       532
Name: SEXO, dtype: int64
2012
1    670743
2    509885
0       538
Name: SEXO, dtype: int64
2013
1    686668
2    523195
0       611
Name: SEXO, dtype: int64
2014
1    693922
2    532362
0       755
Name: SEXO, dtype: int64
2015
1    709117
2    554383
0       675
Name: SEXO, dtype: int64
2016
1    736842
2    572359
0       573
Name: SEXO, dtype: int64
2017
1    734469
2    577573
0       621
Name: SEXO, dtype: int64
2018
1    733616
2    582457
0       646
Name: SEXO, dtype: int64
2019
1    745519
2    603725
0       557
Name: SEXO, dtype: int64
2020
1    874167
2    682027
0       630
Name: SEXO, dtype: int64
2021
1    1015350
2     816616
0        683
Name: SEXO, dtype: int64

In [61]:
for i, df in enumerate(sim):
    if 'CODMUNRES' in df.columns:
        print(df.CODMUNRES.dtypes)
    else:
        print(df.MUNIRES.dtypes)

int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64

In [62]:
for i, df in enumerate(sim):
    if 'SEMANGEST' in df.columns:
        print(f'Ano: {i+1979}')
        print(df.SEMANGEST.head())
    elif 'SEMAGESTAC' in df.columns:
        print(f'Ano: {i+1979}')
        print(df.SEMAGESTAC.head())
    else:
        print(f'Ano: {i+1979}')
        print('Sem SEMAGESTAC')

Ano: 1979
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: SEMANGEST, dtype: float64
Ano: 1980
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: SEMANGEST, dtype: float64
Ano: 1981
0    NaN
1    NaN
2    NaN
3    0.0
4    NaN
Name: SEMANGEST, dtype: float64
Ano: 1982
0    NaN
1    0.0
2    3.0
3    NaN
4    3.0
Name: SEMANGEST, dtype: float64
Ano: 1983
0    NaN
1    NaN
2    3.0
3    NaN
4    3.0
Name: SEMANGEST, dtype: float64
Ano: 1984
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: SEMANGEST, dtype: float64
Ano: 1985
0    NaN
1    NaN
2    NaN
3    3.0
4    NaN
Name: SEMANGEST, dtype: float64
Ano: 1986
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: SEMANGEST, dtype: float64
Ano: 1987
0    NaN
1    NaN
2    3.0
3    NaN
4    NaN
Name: SEMANGEST, dtype: float64
Ano: 1988
0    NaN
1    NaN
2    3.0
3    3.0
4    NaN
Name: SEMANGEST, dtype: float64
Ano: 1989
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: SEMANGEST, dtype: float64
Ano: 1990
0    NaN
1    NaN
2    NaN
3    3.0
4    3.0
Name: SEMANGEST, dtype: float64
Ano: 1991
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: SEMANGEST, dtype: float64
Ano: 1992
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: SEMANGEST, dtype: float64
Ano: 1993
0    NaN
1    0.0
2    0.0
3    NaN
4    0.0
Name: SEMANGEST, dtype: float64
Ano: 1994
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: SEMANGEST, dtype: float64
Ano: 1995
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: SEMANGEST, dtype: float64
Ano: 1996
Sem SEMAGESTAC
Ano: 1997
Sem SEMAGESTAC
Ano: 1998
Sem SEMAGESTAC
Ano: 1999
Sem SEMAGESTAC
Ano: 2000
Sem SEMAGESTAC
Ano: 2001
Sem SEMAGESTAC
Ano: 2002
Sem SEMAGESTAC
Ano: 2003
Sem SEMAGESTAC
Ano: 2004
Sem SEMAGESTAC
Ano: 2005
Sem SEMAGESTAC
Ano: 2006
Sem SEMAGESTAC
Ano: 2007
Sem SEMAGESTAC
Ano: 2008
Sem SEMAGESTAC
Ano: 2009
Sem SEMAGESTAC
Ano: 2010
Sem SEMAGESTAC
Ano: 2011
Sem SEMAGESTAC
Ano: 2012
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: SEMAGESTAC, dtype: float64
Ano: 2013
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: SEMAGESTAC, dtype: float64
Ano: 2014
0     NaN
1     NaN
2    32.0
3    38.0
4     NaN
Name: SEMAGESTAC, dtype: float64
Ano: 2015
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: SEMAGESTAC, dtype: float64
Ano: 2016
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: SEMAGESTAC, dtype: float64
Ano: 2017
0     NaN
1    24.0
2     NaN
3     NaN
4     NaN
Name: SEMAGESTAC, dtype: float64
Ano: 2018
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: SEMAGESTAC, dtype: float64
Ano: 2019
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: SEMAGESTAC, dtype: float64
Ano: 2020
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: SEMAGESTAC, dtype: float64
Ano: 2021
0     NaN
1     NaN
2     NaN
3     NaN
4    41.0
Name: SEMAGESTAC, dtype: float64

In [69]:
for i, df in enumerate(sim):
    if 'TIPOGRAV' in df.columns:
        print(f'Ano:    {i+1979}')
        print(df.TIPOGRAV.value_counts().sort_index())
    else:
        print(f'Ano:    {i+1979}')
        print(df.GRAVIDEZ.value_counts().sort_index())

Ano:    1979
0.0    123334
1.0     51886
2.0      5398
3.0       529
4.0       252
9.0         1
Name: TIPOGRAV, dtype: int64
Ano:    1980
0.0    124027
1.0     50380
2.0      4862
3.0       511
4.0       268
Name: TIPOGRAV, dtype: int64
Ano:    1981
0.0    118828
1.0     48851
2.0      4874
3.0       437
4.0       217
Name: TIPOGRAV, dtype: int64
Ano:    1982
0.0    107829
1.0     50590
2.0      4618
3.0       365
4.0       226
Name: TIPOGRAV, dtype: int64
Ano:    1983
0.0    99938
1.0    49387
2.0     4406
3.0      360
4.0      143
Name: TIPOGRAV, dtype: int64
Ano:    1984
0.0    101307
1.0     49319
2.0      3983
3.0       349
4.0       149
Name: TIPOGRAV, dtype: int64
Ano:    1985
0.0    83499
1.0    42823
2.0     3898
3.0      294
4.0      193
Name: TIPOGRAV, dtype: int64
Ano:    1986
0.0    83768
1.0    43756
2.0     4165
3.0      347
4.0      178
Name: TIPOGRAV, dtype: int64
Ano:    1987
0.0    78212
1.0    40857
2.0     3812
3.0      299
4.0      134
Name: TIPOGRAV, dtype: int64
Ano:    1988
0.0    77443
1.0    38613
2.0     3742
3.0      308
4.0      149
Name: TIPOGRAV, dtype: int64
Ano:    1989
0.0    67563
1.0    33890
2.0     3203
3.0      316
4.0      139
Name: TIPOGRAV, dtype: int64
Ano:    1990
0.0    61032
1.0    31596
2.0     2935
3.0      246
4.0      121
Name: TIPOGRAV, dtype: int64
Ano:    1991
0.0    747767
1.0     31440
2.0      2942
3.0       295
4.0       105
5.0         3
Name: TIPOGRAV, dtype: int64
Ano:    1992
0.0    382373
1.0     31814
2.0      2901
3.0       325
4.0       117
7.0         1
Name: TIPOGRAV, dtype: int64
Ano:    1993
0.0    355013
1.0     33646
2.0      3123
3.0       343
4.0       125
Name: TIPOGRAV, dtype: int64
Ano:    1994
0.0    48845
1.0    34020
2.0     3081
3.0      328
4.0      120
Name: TIPOGRAV, dtype: int64
Ano:    1995
0.0    29318
1.0    34059
2.0     3055
3.0      259
4.0      150
9.0       92
Name: TIPOGRAV, dtype: int64
Ano:    1996
1.0    32819
2.0     2944
3.0      389
9.0     4950
Name: GRAVIDEZ, dtype: int64
Ano:    1997
1.0    33631
2.0     3109
3.0      392
9.0     6150
Name: GRAVIDEZ, dtype: int64
Ano:    1998
1.0    34932
2.0     3095
3.0      275
9.0     5272
Name: GRAVIDEZ, dtype: int64
Ano:    1999
1.0    36910
2.0     3256
3.0      285
9.0     7559
Name: GRAVIDEZ, dtype: int64
Ano:    2000
1.0    37744
2.0     3324
3.0      210
4.0        2
5.0        4
9.0     4961
Name: GRAVIDEZ, dtype: int64
Ano:    2001
1.0    37892
2.0     3142
3.0      215
9.0     5977
Name: GRAVIDEZ, dtype: int64
Ano:    2002
0.0       35
1.0    37948
2.0     3275
3.0      280
9.0     4326
Name: GRAVIDEZ, dtype: int64
Ano:    2003
1.0    37475
2.0     3343
3.0      275
9.0     1044
Name: GRAVIDEZ, dtype: int64
Ano:    2004
1.0    37713
2.0     3295
3.0      234
9.0      710
Name: GRAVIDEZ, dtype: int64
Ano:    2005
1.0    36525
2.0     3236
3.0      244
9.0      623
Name: GRAVIDEZ, dtype: int64
Ano:    2006
1.0    35905
2.0     3376
3.0      233
9.0      939
Name: GRAVIDEZ, dtype: int64
Ano:    2007
1.0    34121
2.0     3049
3.0      206
9.0      637
Name: GRAVIDEZ, dtype: int64
Ano:    2008
1.0    34538
2.0     3295
3.0      198
9.0      491
Name: GRAVIDEZ, dtype: int64
Ano:    2009
1.0    33697
2.0     3189
3.0      239
9.0      573
Name: GRAVIDEZ, dtype: int64
Ano:    2010
1.0    32525
2.0     3869
3.0      235
9.0      497
Name: GRAVIDEZ, dtype: int64
Ano:    2011
1.0    31415
2.0     3046
3.0      244
9.0      392
Name: GRAVIDEZ, dtype: int64
Ano:    2012
1.0    31223
2.0     3018
3.0      199
9.0      514
Name: GRAVIDEZ, dtype: int64
Ano:    2013
1.0    31346
2.0     3019
3.0      217
9.0      455
Name: GRAVIDEZ, dtype: int64
Ano:    2014
1.0    31101
2.0     3040
3.0      220
9.0      534
Name: GRAVIDEZ, dtype: int64
Ano:    2015
1.0    30742
2.0     3026
3.0      204
9.0      471
Name: GRAVIDEZ, dtype: int64
Ano:    2016
1.0    29989
2.0     2863
3.0      212
9.0      408
Name: GRAVIDEZ, dtype: int64
Ano:    2017
1.0    29994
2.0     2945
3.0      210
9.0      385
Name: GRAVIDEZ, dtype: int64
Ano:    2018
1.0    29833
2.0     3077
3.0      184
9.0      305
Name: GRAVIDEZ, dtype: int64
Ano:    2019
1.0    29219
2.0     3009
3.0      232
9.0      379
Name: GRAVIDEZ, dtype: int64
Ano:    2020
1.0    26127
2.0     2661
3.0      152
9.0      329
Name: GRAVIDEZ, dtype: int64
Ano:    2021
1.0    26330
2.0     2730
3.0      169
9.0      338
Name: GRAVIDEZ, dtype: int64

In [70]:
for i, df in enumerate(sim):
    if 'TIPOPARTO' in df.columns:
        print(f'Ano:    {i+1979}')
        print(df.TIPOPARTO.value_counts().sort_index())
    else:
        print(f'Ano:    {i+1979}')
        print(df.PARTO.value_counts().sort_index())

Ano:    1979
0.0    121106
1.0     46466
2.0     12904
3.0       905
8.0        12
9.0         7
Name: TIPOPARTO, dtype: int64
Ano:    1980
0.0    121881
1.0     44913
2.0     12502
3.0       745
8.0         7
Name: TIPOPARTO, dtype: int64
Ano:    1981
0.0    117518
1.0     42184
2.0     12869
3.0       636
Name: TIPOPARTO, dtype: int64
Ano:    1982
0.0    106829
1.0     43323
2.0     12925
3.0       551
Name: TIPOPARTO, dtype: int64
Ano:    1983
0.0    98486
1.0    43158
2.0    12078
3.0      512
Name: TIPOPARTO, dtype: int64
Ano:    1984
0.0    99965
1.0    42860
2.0    11862
3.0      420
Name: TIPOPARTO, dtype: int64
Ano:    1985
0.0    82781
1.0    35625
2.0    11925
3.0      376
Name: TIPOPARTO, dtype: int64
Ano:    1986
0.0    83759
1.0    35755
2.0    12007
3.0      693
Name: TIPOPARTO, dtype: int64
Ano:    1987
0.0    77631
1.0    33780
2.0    11524
3.0      379
Name: TIPOPARTO, dtype: int64
Ano:    1988
0.0    75908
1.0    32437
2.0    11399
3.0      511
Name: TIPOPARTO, dtype: int64
Ano:    1989
0.0    66006
1.0    28101
2.0    10678
3.0      326
Name: TIPOPARTO, dtype: int64
Ano:    1990
0.0    59871
1.0    25945
2.0     9815
3.0      300
Name: TIPOPARTO, dtype: int64
Ano:    1991
0.0    746779
1.0     25678
2.0      9746
3.0       350
Name: TIPOPARTO, dtype: int64
Ano:    1992
0.0    384459
1.0     22408
2.0     10131
3.0       399
Name: TIPOPARTO, dtype: int64
Ano:    1993
0.0    357770
1.0     23873
2.0     10455
3.0       459
4.0         1
Name: TIPOPARTO, dtype: int64
Ano:    1994
0.0    50721
1.0    24205
2.0    10976
3.0      606
4.0        4
Name: TIPOPARTO, dtype: int64
Ano:    1995
0.0    30287
1.0    24411
2.0    10870
3.0     1046
4.0       26
9.0       99
Name: TIPOPARTO, dtype: int64
Ano:    1996
1.0    25134
2.0    10963
9.0     4903
Name: PARTO, dtype: int64
Ano:    1997
1.0    25742
2.0    11822
9.0     6010
Name: PARTO, dtype: int64
Ano:    1998
1.0    27118
2.0    11601
9.0     4878
Name: PARTO, dtype: int64
Ano:    1999
1.0    28542
2.0    12122
9.0     7954
Name: PARTO, dtype: int64
Ano:    2000
1.0    28944
2.0    12882
9.0     6184
Name: PARTO, dtype: int64
Ano:    2001
1.0    27612
2.0    13060
9.0     6302
Name: PARTO, dtype: int64
Ano:    2002
0.0       35
1.0    27947
2.0    13167
9.0     4535
Name: PARTO, dtype: int64
Ano:    2003
1.0    27287
2.0    13577
9.0     1188
Name: PARTO, dtype: int64
Ano:    2004
1.0    26411
2.0    14428
9.0      833
Name: PARTO, dtype: int64
Ano:    2005
1.0    25407
2.0    14267
9.0      720
Name: PARTO, dtype: int64
Ano:    2006
1.0    24458
2.0    14405
9.0     1121
Name: PARTO, dtype: int64
Ano:    2007
1.0    22229
2.0    14621
9.0      775
Name: PARTO, dtype: int64
Ano:    2008
1.0    22039
2.0    15563
9.0      611
Name: PARTO, dtype: int64
Ano:    2009
1.0    21371
2.0    15325
9.0      718
Name: PARTO, dtype: int64
Ano:    2010
1.0    20514
2.0    15825
9.0      606
Name: PARTO, dtype: int64
Ano:    2011
1.0    18628
2.0    15781
9.0      506
Name: PARTO, dtype: int64
Ano:    2012
1.0    18228
2.0    15924
9.0      629
Name: PARTO, dtype: int64
Ano:    2013
1.0    17957
2.0    16282
9.0      581
Name: PARTO, dtype: int64
Ano:    2014
1.0    17572
2.0    16525
9.0      656
Name: PARTO, dtype: int64
Ano:    2015
1.0    17234
2.0    16426
9.0      590
Name: PARTO, dtype: int64
Ano:    2016
1.0    16613
2.0    16157
9.0      518
Name: PARTO, dtype: int64
Ano:    2017
1.0    16709
2.0    16161
9.0      491
Name: PARTO, dtype: int64
Ano:    2018
1.0    16263
2.0    16552
9.0      405
Name: PARTO, dtype: int64
Ano:    2019
1.0    15847
2.0    16338
9.0      494
Name: PARTO, dtype: int64
Ano:    2020
1.0    13999
2.0    14690
9.0      446
Name: PARTO, dtype: int64
Ano:    2021
1.0    13947
2.0    15024
9.0      443
Name: PARTO, dtype: int64